* {
  box-sizing: border-box;
}



body {

}

header {
  background-color: #32b8d5;
}

main {
  background-color: #60d29f;
}

footer {

}

body {
  margin: 0;
}

.column {
  height: 100vh;
  width: calc(100vw/3);
  display:inline-block;
  float: left;
}

.top {
  height: 75vh;
  background-color: #c4cb4e;
}

.image-placeholder {
  height: 25vh;
  background-color: red;
  text-align: center;
  padding: 12vh;
}
